@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color-scheme: dark;
  font-family:
    "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

.center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.center {
  text-align: center;
}

.btn {
  background-color: #4c6aaf;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
  &:hover {
    background-color: #3b5491;
  }
}
